label.checkbox {
  user-select: none;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: #fff;
    margin-bottom: -2px;

    @include default-border;
  }

  input:checked + & {
    color: #ae1147;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: #ae1147;
      top: 6px;
      left: 4px;
      border-radius: 50%;
    }
  }
}

input.checkbox {
  display: none;
}

@mixin group {
  display: flex;
  flex-wrap: wrap;

  .field {
    padding-left: 0;
    padding-right: 0;

    > input, > select {
      border-radius: 0;
      border-radius: 0;
      border-right-width: 0;
    }

    &:first-child {
      > input, > select {
        border-top-left-radius: $default-border-radius;
        border-bottom-left-radius: $default-border-radius;
      }
    }

    &:last-child {
      > input, > select {
        border-right-width: $default-border-width;
        border-top-right-radius: $default-border-radius;
        border-bottom-right-radius: $default-border-radius;
      }
    }
  }
}

form {
  .row {
    .field {
      width: 100%;

      > label {
        position: absolute;
        line-height: 65px;
        font-size: 12px;
        white-space: nowrap;
        margin-left: 10px;
        user-select: none;

        & + input, & + select {
          padding-left: 60px  !important;
        }
      }

      > input[type="text"], > select {
        width: 100%;
        @include default-border;
        margin: 15px 0;
        font-size: 16px;
        padding: 5px;
        background-color: #fff;
        font-weight: bold;
        color: $component-text-color;
      }

      > select option {
        padding: 20px;
      }
    }

    & .group-lx {
      @media only screen and (min-width: 1024px) and (max-width: 1600px) {
        @include group;
      }
    }
  }
}
