@import "reset";
@import "vars";

.superscript-text {
  font-size: small;
  @include clear-both;
}

html, body {
  background-color: $background-color;
  overflow-x: hidden;

  * {
    font-family: $component-font;
    font-weight: 400;
    color: $component-color;
  }
}

.container {
  max-width: $max-container-size;
  margin: 0 auto;
}

@import "header";
@import "search";
@import "form";
