.search-container {
  padding: 5px;

  .filter-container {
    background-color: #fff;
    padding: 30px 50px;
  }
}

nav {
  ul li {
    float: left;
    min-width: 150px;
    min-height: 50px;
    font-size: 24px;
    border-bottom: 3px solid transparent;
    font-weight: 500;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    opacity: .5;

    &:hover {
      opacity: 1;
    }

    i {
      margin-right: 20px;
    }

    &.active {
      opacity: 1;
      color: $primary-color;
      border-bottom: 3px solid $primary-color;

      i {
        color: $primary-color;
      }
    }
  }

  @include clear-both;
}
