$default-border-radius: 4px;
$default-border-width: 1px;

$component-font: 'Poppins', sans-serif;
$component-color: #908c86;
$component-text-color: #746a57;
$component-border: $default-border-width solid #d6d2d7;
$primary-color: #d1001f;

$background-color: #f4f4f4;

$max-container-size: 933px;
$max-columns: 12;
$max-margin-number: 5;
$col-padding: 5px;

$text-align: left, center, right, justify;

@each $align in $text-align {
  .text-#{$align} {
    text-align: $align;
    text-align-last: $align;
  }
}

@mixin clear-both {
  &::before, &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin default-border {
  border: $component-border;
  border-radius: $default-border-radius;
}
@mixin media($width: 768px) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

.row {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-left: -$col-padding;
  margin-right: -$col-padding;

  &-#{fluid} {
    margin-left:0;
    margin-right: 0;
  }

  @for $i from 1 through $max-columns {
    .col-#{$i} {
      width: 100% / ($max-columns / $i) !important;
      padding-left: $col-padding;
      padding-right: $col-padding;

      @include media(823px) {
        &-#{sm} {
          width: 100% / ($max-columns / $i) !important;
        }
      }

      @include media(411px) {
        &-#{smx} {
          width: 100% / ($max-columns / $i) !important;
        }
      }

      @include media(320px) {
        &-#{smxx} {
          width: 100% / ($max-columns / $i) !important;
        }
      }
    }
  }
}

@for $i from 1 through $max-margin-number {
  .mt-#{$i} {
    margin-top: 2px + (4px * ($i - 1)) !important;
  }

  .mb-#{$i} {
    margin-bottom: 2px + (4px * ($i - 1)) !important;
  }

  .my-#{$i} {
    margin-top: 2px + (4px * ($i - 1));
    margin-bottom: 2px + (4px * ($i - 1)) !important;
  }

  .mr-#{$i} {
    margin-right: 2px + (4px * ($i - 1)) !important;
  }

  .ml-#{$i} {
    margin-left: 2px + (4px * ($i - 1)) !important;
  }

  .mx-#{$i} {
    margin-right: 2px + (4px * ($i - 1)) !important;
    margin-left: 2px + (4px * ($i - 1)) !important;
  }

  .px-#{$i} {
    padding-right: 2px + (4px * ($i - 1)) !important;
    padding-left: 2px + (4px * ($i - 1)) !important;
  }
}

.disabled, .disabled * {
  cursor: default;
  opacity: 0.8;
  pointer-events: none;
  user-select: none;
}

hr {
  @include clear-both;
  border-bottom: 1px solid $component-color;
  width: 100%;
  opacity: .3;
}
